<header class="ecom-header">
  <!-- Top Row -->
  <div class="top-bar">
    <div class="logo" routerLink="/">
      <!-- <img src="assets/logo.png" alt="logo" /> -->
      <span
        ><span><mat-icon>shopping_cart</mat-icon></span> ShopMart</span
      >
    </div>

    <div class="search-box">
      <input
        type="text"
        placeholder="Search for products, brands and more"
        (keyup.enter)="onSearch($event)"
        [(ngModel)]="searchTerm"
      />
      <button>
        <span><mat-icon>search</mat-icon> </span>
      </button>
    </div>
    <div class="actions">
      <div class="action flex flex-col items-center cursor-pointer">
        @if (authService.isLoggedin && authService.isAdminLoggedIn) {
          <mat-icon>account_circle</mat-icon>
          <a class="text-sm mt-1" routerLink="/admin"
            >Welcome, {{ authService.username }}</a
          >
        } @else {
          <mat-icon>account_circle</mat-icon>
          <a class="text-sm mt-1" routerLink="/profile"
            >Welcome, {{ authService.username }}</a
          >
        }
        @if (authService.isLoggedin) {
          <button mat-raised-button color="warn" (click)="logout()">
            Logout
          </button>
        } @else {
          <div class="flex">
            <button
              mat-raised-button
              color="warn"
              class="mr-5"
              routerLink="/login"
            >
              Login
            </button>
            <button mat-raised-button color="primary" routerLink="/register">
              Register
            </button>
          </div>
        }
      </div>
      @if (authService.isLoggedin) {
        <div class="action">
          <button
            mat-icon-button
            color="warn"
            routerLink="/wishlists"
            matTooltip="Go to Wishlist"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="action">
          <span routerLink="/wishlists"
            ><mat-icon>shopping_cart</mat-icon></span
          >
        </div>
      }
    </div>
  </div>

  <!-- Category Row -->
  @if (authService.isLoggedin) {
    <nav class="category-bar">
      <ul class="pt-5">
        @for (category of categories; track $index) {
          <li (click)="searchCategory(category._id)">{{ category.name }}</li>
        }
        <li><a routerLink="/products">All</a></li>
      </ul>
    </nav>
  }
</header>
