<div class="h-48 bg-gray-100 flex items-center justify-center">
  <img
    [src]="product.images[0]"
    alt="{{ product.name }}"
    class="h-full object-contain group-hover:scale-105 transition"
  />
</div>

<div class="p-4">
  <h3 class="text-lg font-semibold text-gray-800 truncate">
    {{ product.name }}
  </h3>

  <p class="text-sm text-gray-500 mt-1 line-clamp-2">
    {{ product.shortDescription }}
  </p>

  <div class="flex items-center gap-2 mt-3">
    <span class="text-xl font-bold text-gray-900">
      <s>₹{{ product.Price }}</s>
    </span>
    <p class="text-xs">({{ product.discount }} % OFF)</p>
    <p class="text-2xl font-bold mt-5">₹{{ sellingPrice }}</p>
  </div>

  <div class="action-buttons d-flex justify-content-end gap-2">
    <button
      mat-fab
      color="primary"
      type="button"
      matTooltip="Add to Wishlist"
      (click)="addToWishlist(product)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-fab
      color="primary"
      type="button"
      matTooltip="Add to Wishlist"
      (click)="deleteWishlist(product)"
    >
      <mat-icon>remove_circle_outline</mat-icon>
    </button>

    <button mat-fab color="primary" matTooltip="Add to Cart" (click)="addToCart(product)">
      @if(isProductInCart(product._id!)){
        <mat-icon>remove_shopping_cart</mat-icon>

      }
      @else{
        <mat-icon>add_shopping_cart</mat-icon>
      }
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
    </button>
  </div>
</div>
