<div class="max-w-7xl mx-auto px-6 py-10">
  <!-- ---------- Banner Carousel ---------- -->
  <div class="mb-10">
    <owl-carousel-o [options]="customOptions" *ngIf="bannerImages.length > 0">
      <ng-template carouselSlide *ngFor="let item of bannerImages">
        <img
          [src]="item.images[0]"
          alt="Banner Image"
          class="w-full h-90 rounded-lg"
          [routerLink]="'product/' + item._id"
        />
      </ng-template>
    </owl-carousel-o>
  </div>

  <!-- ---------- Section Title ---------- -->
  <h1 class="text-3xl text-gray-800 mb-8">Best deals on featured products</h1>

  <!-- ---------- Products Grid ---------- -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <div
      *ngFor="let product of featuredProduct"
      class="bg-white rounded-2xl shadow-md hover:shadow-xl transition duration-300 overflow-hidden group"
      [routerLink]="'product/' + product._id"
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
