@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .action-buttons button[mat-fab] {
//   width: 44px;
//   height: 44px;
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
//   transition: transform 0.2s ease, box-shadow 0.2s ease;
// }

// .action-buttons button[mat-fab]:hover {
//   transform: translateY(-2px);
//   box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
// }
